<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <hr>
    <p>
      <%= link_to "Home", "home" %> |
      <%= link_to "About", static_pages_about_path %> |
      <%= link_to "Help", static_pages_help_path %> |
      <%= link_to "Contact", static_pages_contact_path %>
    </p>
  </footer>
</html>
